body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #003153;
}

.content {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.content h1 {
  color: #333333;
}
.content h2 {
  margin-bottom: 6px;
  color: #6c757d;
  font-size: larger;
}
.content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.content table th, .content table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #6c757d;
}
.content table th:first-child, .content table td:first-child {
  width: 50%;
}
.content table th:last-child, .content table td:last-child {
  width: 20%;
  text-align: center;
}
.content form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.content form input[type=text], .content form input[type=email], .content form input[type=password] {
  width: 100%;
  padding: 10px;
  border: 1px solid #6c757d;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}
.content form input[type=text]:focus, .content form input[type=email]:focus, .content form input[type=password]:focus {
  border-color: #007bff;
}
.content form input[type=text]:disabled, .content form input[type=email]:disabled, .content form input[type=password]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.content form input[type=text]::-webkit-input-placeholder, .content form input[type=email]::-webkit-input-placeholder, .content form input[type=password]::-webkit-input-placeholder {
  color: #6c757d;
}
.content form input[type=text]::-moz-placeholder, .content form input[type=email]::-moz-placeholder, .content form input[type=password]::-moz-placeholder {
  color: #6c757d;
}
.content form input[type=text]:-ms-input-placeholder, .content form input[type=email]:-ms-input-placeholder, .content form input[type=password]:-ms-input-placeholder {
  color: #6c757d;
}
.content form input[type=text]:-moz-placeholder, .content form input[type=email]:-moz-placeholder, .content form input[type=password]:-moz-placeholder {
  color: #6c757d;
}
.content form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: medium;
}
.content form button:hover {
  background-color: #218838;
}
.content .task {
  display: flex;
  align-items: center;
  gap: 10px;
}
.content .task input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin: 0;
}
.content label {
  color: #6c757d;
  margin-right: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.content label:hover {
  color: #5a6268;
}
.content label span {
  font-size: 14px;
  margin-left: 5px;
}
.content a {
  color: #007bff;
  text-decoration: underline;
  transition: color 0.3s ease;
  font-size: larger;
  display: inline-block;
  padding: 2px 2px;
  border-radius: 5px;
  margin: 1px;
}
.content a:visited {
  color: #007bff;
}
.content a:hover {
  color: #0056b3;
}
.content a:active {
  color: #007bff;
}/*# sourceMappingURL=styles.css.map */